@charset "utf-8";
.top{
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
.top *{
    box-sizing: border-box;
}
.top .ff-bold{
    font-weight: bold;
}
.top .ff-medi{
    font-weight: 500;
}
.top img{
    display: block;
    width: 100%;
    max-width: none;
}
.top .ff-30{
    font-size: 30px;
}
.top .inner{
    width: 100%;
    position: relative;
    text-align: center;
    max-width: min(50vw,750px);
}
.content{
    position: relative;
}
.content .content-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .logo-right{
    width: 10.677083vw;
    position: fixed;
    top: 1.666667vw;
    left: 1.770833vw;
}
.content .fixed-left{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10.416667vw;
    font-size: 1.302083vw;
}
.content .fixed-left .left-item{
    margin-top: 1.041667vw;
    cursor: pointer;
    display: block;
    color: #333;
}
.content .fixed-left .left-item.active,
.content .fixed-left .left-item:hover{
    color: rgba(0, 0, 0, .35);
}
.content .fixed-right{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
    font-size: 1.354167vw;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content .fixed-right .right-btn{
    width: 24.635417vw;
    cursor: pointer;
}
.content .wrapper{
    max-width: min(50vw,750px);
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.reduce{
    position: relative;
    background: url('../images/top/reduce-bg.jpg') center no-repeat;
    background-size: cover;
}
.reduce .inner{
    width: 100%;
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
    z-index: 4;
}
.reduce .man{
    position: absolute;
    width: 468px;
    left: -8px;
    top: 126px;
    z-index: 3;
}
.reduce .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
}
/*.reduce .bar{
    height: 92px;
    background-color: #000;
    color: #fff;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
.reduce .bar {
    color: #fff;
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    text-align: center;
    width: 100%;
}
.reduce .text1{
    font-size: 18px;
}   
.reduce .text2{
    font-size: 30px;
}
.reduce .person{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}
.reduce .text-content{
    position: relative;
    z-index: 5;
    margin-top: 119px;
    padding: 0 40px;
}
.reduce .text-content .text3{
    width: 369px;
}
.reduce .text-content .text4{
    width: 554px;
    margin-top: 13px;
}
.reduce .list{
    margin-top: 25px;
    display: flex;
    position: relative;
    z-index: 5;
    padding: 0 40px;
}
.reduce .list .item{
    flex: 1;
    position: relative;
    margin: 0 -6px;
}
/* .reduce .list .item .item-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.reduce .list .item .item-text1{
    width: 81px;
}
.reduce .list .item .item-text2{
    width: 61px;
}
.reduce .list .item .item-text3{
    width: 119px;
}
.reduce .list .item .item-text4{
    width: 75px;
} */
.reduce .reduce-texts{
    width: 670px;
    position: relative;
    z-index: 5;
    margin: 0 auto 0;
}
.reduce .reduce-texts .reduce-btn{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 25px;
    /*left: 50%;
    transform: translateX(-50%);*/
    cursor: pointer;
}

.reduce .reduce-texts .reduce-btn img {
    width: 85%;
    display: inline;
}
.reduce .reduce-bottom{
    width: 670px;
    margin: 21px auto 0;
    background: linear-gradient(to bottom,#001A72,#638FAF);
    position: relative;
    z-index: 5;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
.reduce .reduce-bottom .bottom-title{
    color: #fff;
    font-size: 55px;
}
.reduce .reduce-bottom .white{
    background-color: #fff;
    padding: 17px 30px;
}
.reduce .reduce-bottom .text5{
    display: flex;
    border: 1px solid #001A73;
    line-height: 34px;
    font-size: 21px;
}
.reduce .reduce-bottom .text5 .left{
    width: 120px;
    background-image: linear-gradient(to bottom,#001A72,#638FAF);
    color: #fff;
}
.reduce .reduce-bottom .text5 .right{
    flex: 1;
    letter-spacing: 1px;
}
.reduce .reduce-bottom .text7{
    font-size: 26px;
}
.reduce .reduce-bottom .btn{
    width: 618px;
    line-height: 98px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
    position: relative;
}
.reduce .reduce-bottom .btn .btn-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}
.reduce .reduce-bottom .icon-red{
    width: 105px;
}

.result .inner{
    padding-bottom: 60px;
}
.result .inner .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
}
.result .inner .text1{
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 2;
    padding-top: 62px;
}
.result .inner .text2{
    color: #fff;
    position: relative;
    z-index: 2;
    width: 390px;
    margin: -6px auto 0;
}
.result .inner .list{
    position: relative;
    z-index: 3;
    width: 485px;
    margin: 20px auto 0;
    display: flex;
    align-items: flex-start;
}
.result .inner .item{
    width: 230px;
    position: relative;
    color: #fff;
    font-size: 16px;
}
.result .inner .arrow{
    width: 56px;
    align-self: center;
}
.result .inner .item .circle-wrap{
    width: 116px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
}
.result .inner .item .item-text{
    padding: 3px 9px;
    background-size: contain;
}
.result .inner .item1 .item-text{
    background: url('../images/top/result-rect1.png') center no-repeat;
}
.result .inner .item2 .item-text1{
    background: url('../images/top/result-rect2.png') center no-repeat;
}
.result .inner .item2 .item-text2{
    background: url('../images/top/result-rect3.png') center no-repeat;
}
.result .inner .tip{
    width: 485px;
    font-size: 10px;
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: left;
    margin: 3px auto 0;
}

.table .inner{
}
.table .bg1{
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateY(-50%);
}
.table .bg2{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.table .table-content{
    padding: 0 40px 70px;
    position: relative;
    z-index: 3;
}
.table .sec-title{
    width: 441px;
    margin: -10px auto 0;
}
.table .title{
    width: 486px;
    font-size: 40px;
    margin: 90px auto 0;
}
.table .title .line{
    width: 350px;
    margin-left: 20px;
}
.table .title span{
    font-size: 30px;
}
.table .list{
    width: 100%;
    display: flex;
    font-size: 18px;
    position: relative;
    z-index: 9;
    margin-top: 20px;
}
.table .list .column .item{
    height: 85px;
    border-top: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.table .list .column .item .icon1,
.table .list .column .item .icon2{
    width: 63px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.table .list .column .item .icon2{
    width: 59px;
}
.table .list .column .item .item-text{
    position: relative;
    z-index: 2;
}
.table .list .column .first{
    border-top: none;
}
.table .list .column1 .item{
    background-color: #000;
}
.table .list .column1{
    width: 145px;
    color: #fff;
}
.table .list .column2,.table .list .column3{
    flex: 1;
    color: #000;
}
.table .list .column2 .item,
.table .list .column3 .item{
    background-color: #fff;
}
.table .list .column2 .item{
    border-right: 1px solid #707070;
}
.table .list .column1 .first{
    background-color: transparent;
}
.table .list .column2 .first{
    background-color: #001A72;
    color: #fff;
    border-right: none;
}
.table .list .column3 .first{
    background-color: #000;
    color: #fff;
    margin-left: 2px;
}
.table .bottom{
    position: relative;
    z-index: 7;
}
.table .bottom-title{
    margin-top: 56px;
    display: flex;
    font-size: 24px;
    color: #fff;
    align-items: center;
}
.table .bottom-title .text{
    padding: 4px 16px;
    background: url('../images/top/table-rect.png') center no-repeat;
    background-size: 100% 100%;
}
.table .bottom-title .icon-close{
    width: 26px;
    margin: 0 -12px;
    position: relative;
    z-index: 2;
}
.table .bottom .text2{
    font-size: 18px;
    margin-top: 18px;
    text-align: left;
}
.table .bottom  .title-red{
    width: 425px;
    margin-top: 8px;
}
.table .bottom .text3{
    width: 348px;
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.7;
    text-align: left;
}
.table .person{
    width: min(11vw,392px);
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 4;
}
.table .machine{
    width: min(13vw,258px);
    right: 0;
    bottom: 109px;
    position: absolute;
    z-index: 3;
}

.question .first{
    position: relative;
    z-index: 6;
}
.question .first .person{
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 2;
}
.question .first .first-content{
    position: absolute;
    width: max-content;
    right: 53px;
    top: 45px;
    color: #fff
}
.question .first .text1{
    font-size: 18px;
}
.question .first .text2{
    width: 337px;
    margin-top: 10px;
}
.question .first .text2 .text-s{
    font-size: 30px;
}
.question .first .list{
    margin-top: 10px;
    line-height: 1.9;
}
.question .first .item{
    display: flex;
    text-decoration: underline;
    font-size: 20px;
    align-items: center;
    margin-top: 10px;
}
.question .first .item-icon{
    width: 41px;
    margin-right: 10px;
}
.question .first .title{
    width: 447px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 4;
}
.question .part1{
    margin-top: -84px;
    position: relative;
    z-index: 5;
}
.question .part1 .bg{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.question .part1 .bg2{
    position: absolute;
    bottom: 102px;
    transform: translateY(100%);
}
.question .part1 .part1-content{
    width: 550px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    padding: 140px 0 91px;
    color: #fff;
}
.question .part1 .part1-texts{
    width: 385px;
    margin: 0 auto;
}
.question .part1 .text1{
    font-size: 25px;
    text-align: center;
}
.question .part1 .text2{
    font-size: 40px;
    text-align: center;
}
.question .part1 .part1-top{
    margin-top: 30px;
    display: flex;
}
.question .part1 .num{
    width: 92px;
    margin-right: 27px;
}
.question .part1 .text3{
    font-size: 25px;
}
.question .part1 .text4{
    font-size: 40px;
}
.question .part1 .ff-30{
    font-size: 30px;
}
.question .part1  .video-wrap{
    width: 100%;
    background-color: #000;
    margin-top: 10px;
}
.question .part1 .question-video{
    width: 360px;
    margin: 0 auto;
    display: block;
}
.question .part1  .part1-tip{
    font-size: 16px;
    margin-top: 21px;
    line-height: 1.6;
}
.question .part2{
    /* margin-top: -110px; */
    position: relative;
    z-index: 5;
}
.question .part2 .bg{
    position: absolute;
}
.question .part2 .part2-content{
    position: relative;
    width: 100%;
    z-index: 2;
    color: #fff;
}
.question .part2 .part2-top{
    padding-top: 15px;
    display: flex;
    margin-left: 92px;
    text-align: right;
}
.question .part2 .num{
    width: 120px;
    margin-left: 17px;
}
.question .part2 .text1{
    font-size: 25px;
}
.question .part2 .text2{
    font-size: 40px;
    line-height: 1.2;
    margin-top: -4px;
}
.question .part2 .black{
    margin-top: 17px;
    margin-left: 350px;
}
.question .part2 .text3{
    font-size: 16px;
    background: url('../images/top/part2-text-bg.png') center 4px no-repeat;
    background-size: 100% 100%;
    width: max-content;
    padding: 5px 20px;
}
.question .part2 .text4{
    font-size: 23px;
    background: url('../images/top/part2-text-bg.png') center 4px no-repeat;
    background-size: 100% 100%;
    width: max-content;
    padding: 5px 23px;
    margin-top: -5px;
}
.question .part2 .imgs{
    display: flex;
    margin-left: 292px;
}
.question .part2 .circle-y{
    width: 170px;
}
.question .part2 .part2-tip{
    font-size: 16px;
    line-height: 1.7;
    width: 550px;
    margin: 3px auto 0;
}
.question .part2 .part2-person{
    width: 318px;
    position: absolute;
    bottom: 25px;
    /* top: -252px; */
    right: 0;
}
.question .part2 .part2-machine{
    width: 328px;
    position: absolute;
    left: 21px;
    /* bottom: 54px; */
    top: 0;
}

.question .part3{
    position: relative;
    z-index: 3;
    padding-bottom: 60px;
}
.question .part3 .bg{
    position: absolute;
    width: 100%;
    object-fit: cover;
    bottom: 0;
    left: 0;
}
.question .part3 .part3-content{
    padding-top: 76px;
    position: relative;
    z-index: 2;
    color: #fff;
}
.question .part3 .part3-top{
    display: flex;
    margin-left: 100px;
}
.question .part3 .num{
    width: 120px;
}
.question .part3 .text1{
    font-size: 25px;
    line-height: 1.3;
}
.question .part3 .text2{
    font-size: 40px;
    line-height: 1.2;
}
.question .part3 .part3-middle{
    margin-top: 15px;
    display: flex;
    margin-left: 88px;
}
.question .part3 .middle-img{
    width: 360px;
}
.question .part3  .list{
    font-size: 18px;
    color: #000;
    letter-spacing: -1.5px;
}
.question .part3 .row{
    display: flex;
}
.question .part3 .row .item{
    flex: 1;
}
.question .part3 .row .item:nth-of-type(2){
    margin-left: 7px;
}
.question .part3 .item{
    background-image: linear-gradient(to right,#EFD270,#FFE4A8,#764900);
    margin-top: 7px;
    text-align: center;
    line-height: 35px;
    padding: 0 22px;
}
.question .part3 .part3-tip{
    font-size: 16px;
    line-height: 1.7;
    width: 550px;
    margin: 25px auto 0;
}
.question .part4{
    position: relative;
    z-index: 2;
    margin-top: -100px;
    padding-bottom: 105px;
}
.question .part4 .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
}
.question .part4 .part4-content{
    padding-top: 80px;
    position: relative;
    z-index: 2;
    color: #fff;
}
.question .part4 .part4-top{
    display: flex;
    margin-right: 95px;
    justify-content: flex-end;
}
.question .part4 .texts{
    text-align: right;
}
.question .part4 .text1{
    font-size: 25px;
}
.question .part4 .text2{
    font-size: 25px;
}
.question .part4 .text3{
    font-size: 40px;
}
.question .part4 .num{
    width: 120px;
    margin-left: 13px;
}
.question .part4 .part4-img{
    width: 550px;
    margin: 10px auto 0;
}
.question .part4 .part4-tip{
    font-size: 16px;
    line-height: 1.7;
    width: 550px;
    margin: 20px auto 0;
}
.cold {
    position: relative;
    margin-top: -100px;
    padding-bottom: 80px;
    overflow: hidden;
}
.cold .bg1{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.cold .bg2{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    object-fit: cover;
}
.cold .bg3{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-77%);
    z-index: 5;
}
.cold .person1{
    width: 473px;
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 4;
}
.cold .cold-content{
    position: relative;
    z-index: 9;
    padding-top: 0;
}
.cold .text1{
    width: 185px;
    margin: 0 auto;
}
.cold .text2{
    width: 365px;
    margin: -7px 0 0 70px;
}
.cold .text3{
    width: 470px;
    margin: 0 auto 0;
}
.cold .cold-box{
    width: 669px;
    margin: 15px auto 0;
    background-image: linear-gradient(to bottom,#001A72,#638FAF);
    box-sizing: border-box;
    padding: 6px;
    position: relative;
    clip-path: inset(-100px 0 0 0);
}
.cold .white{
    background-color: #fff;
    padding: 20px 25px;
}
.cold .texts{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cold .line1{
    display: flex;
    justify-content: flex-end;
}
.cold .text4{
    font-size: 16px;
}
.cold .text-b{
    color: #001A72;
    font-size: 40px;
}
.cold .text5{
    font-size: 18px;
}
.cold .text6{
    width: 434px;
    margin-top: 6px;
    direction: rtl;
}
.cold .text7{
    width: 434px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: bold;
    -webkit-text-stroke: .3px #fff;
    margin-top: 20px;
}
.cold .person2{
    width: 277px;
    position: absolute;
    bottom: 0;
    left: -20px;
}
.cold .cold-bottom{
    width: 521px;
    padding: 15px 20px;
    background-color: #fff;
    position: relative;
    margin: 20px 0 0 70px;
}
.cold .cold-img1{
    width: 167px;
    position: absolute;
    left: -56px;
    bottom: -85px;
}
.cold .cold-img2{
    width: 428px;
    position: absolute;
    top: -40px;
    right: -228px;
}
.cold .text-inner{
    font-size: 16px;
    width: 339px;
    line-height: 1.6;
}
.cold .cold-tip{
    width: 450px;
    text-align: right;
    font-size: 10px;
    margin: 6px auto 0;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .75);
}

.today{
    position: relative;
    margin-top: -80px;
}
.today .bg{
    position: absolute;
    inset: 0;
}
.today .today-content{
    position: relative;
    z-index: 2;
    padding-top: 13px;
}
.today .text1{
    width: 218px;
    margin: 0 auto;
}
.today .text2{
    width: 296px;
    margin: 21px 0 0 85px;
}
.today .list{
    display: flex;
    margin: 16px 0 0 63px;
}
.today .list .item{
    width: 122px;
}
.today .list .item1{
    margin-right: -19px;
}
.today .list .item:nth-of-type(n+2){
    margin: 0 -19px;
}
.today .bg2{
    width: 100%;
    position: absolute;
    inset: 0;
}
.today .today-bottom{
    padding: 30px 0 0;
    position: relative;
    margin-top: 15px;
    background: url(../images/top/today-bg2.png);
}

.today .today-bottom .twoBtn {
    max-width: 80%;
    margin: 0 auto;
}
.today .bottom-text{
    font-size: 26px;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;
}
.today .today-btn{
    width:min(35vw,618px);
    margin: 0 auto;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.body{
    position: relative;
    padding-bottom: 70px;
    overflow: hidden;
}
.body .bg{
    position: absolute;
    inset: 0;
    width: 150%;
    /* height: 100%;
    object-fit: cover; */
}
.body  .body-content{
    position: relative;
    z-index: 2;
}
.body .text1{
    width: 192px;
    padding-top: 52px;
    margin: 0 auto;
}
.body .text2{
    width: 445px;
    margin: 30px auto 0;
}
.body .body-img1{
    width: 597px;
    margin: 0 auto;
}
.body .item{
    background-image: linear-gradient(to bottom,#001A72,#638FAF);
    padding: 5px;
    width: 560px;
    margin: 15px auto 0;
}

.body .item_add{
    width: 560px;
    margin: 15px auto 0;
}

.body .item .white{
    background-color: #fff;
    padding: 15px 0;
}
.body .item .item-title{
    font-size: 26px;
    text-align: center;
    color: #fff;
    line-height: 1.7;
}
.body .item .item-text{
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}
.body .item  .line{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.body .item  .item-s {
    display: flex;
    align-items: center;
}
.body .item  .item-s2{
    margin-left: 23px;
}
.body .item .black{
    width: 48px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
}
.body .item .num{
    width: auto;
    height: 39px;
}
.body .bottom{
    margin: 30px auto 0;
    width: 560px;
}
.body .blue{
    line-height: 60px;
    position: relative;
    text-align: center;
    font-size: 26px;
    background-image: linear-gradient(to bottom,#001A72,#638FAF);
    color: #fff;
    cursor: pointer;
}
.body .blue .icon{
    width: 17px;
    right: 23px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s;
}
.body .blue.active .icon{
    transform: translateY(-50%) rotate(-45deg);
}
.body .list{
    display: none;
}

.carousel{
    position: relative;
    padding-bottom: 70px;
}
.carousel .bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .carousel-content{
    position: relative;
    z-index: 2;
    padding-top: 53px;
}
.carousel .title{
    width: 395px;
    margin: 0 auto;
}
.carousel .swiper-container{
    margin: 23px auto 0;
    width: 500px;
}
.carousel .slide-title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.carousel .step{
    width: 125px;
}
.carousel .text1{
    font-size: 28px;
    color: #fff;
    margin-left: 5px;
}
.carousel .text2{
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 11px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content: none;
}
.swiper-button-next, .swiper-button-prev{
    width: 45px;
    height: 45px;
}
.swiper-button-prev{
    left: 63px;
}
.swiper-button-next{
    right: 63px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: auto;
    top: 330px;
}
.swiper-pagination-bullet{
    background-color: #fff;
    width: 8px;
    height: 8px;
}
.swiper-pagination-bullet-active{
    background-color: #969696;
}

.indoor{
    position: relative;
    padding-bottom: 66px;
    overflow: hidden;
}
.indoor .bg{
    position: absolute;
    /* inset: 0; */
    left: 0;
    top: 0;
    width: 150%;
    /* height: 100%;
    object-fit: cover; */
}
.indoor .indoor-content{
    position: relative;
    z-index: 2;
    width: 550px;
    margin: 0 auto;
    padding-top: 49px;
}
.indoor .text1{
    width: 344px;
    margin: 0 auto;
}
.indoor .click-title{
    width: 100%;
    line-height: 70px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    position: relative;
    background-color: #000;
    margin-top: 8px;
    cursor: pointer;
}
.indoor .click-title1{
    margin-top: 22px;
}
.indoor .click-title .icon-add{
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    transition: all .5s;
}
.indoor .click-title.active .icon-add{
    transform: translateY(-50%) rotate(-45deg);
}
.indoor .click-content{
    display: none;
}
.indoor .click-content-inner{
    display: flex;
    padding: 20px 0 20px 20px;
}
.indoor .click-content .left-img{
    width: 254px;
    margin-right: 20px;
}
.indoor .click-content .text2{
    font-size: 20px;
}
.indoor .click-content .text3{
    font-size: 16px;
    line-height: 1.5;
}

.count{
    position: relative;
    padding-bottom: 66px;
    overflow: hidden;
}
.count .bg{
    position: absolute;
    inset: 0;
    width: 100%;
    /* height: 100%;
    object-fit: cover; */
}
.count .count-content{
    position: relative;
    z-index: 2;
    width: 550px;
    margin: 0 auto;
    padding-top: 48px;
    color: #fff;
}
.count .title{
    width: 226px;
    margin: 0 auto;
}
.count .click-title{
    display: flex;
    padding: 20px 20px 20px 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    line-height: 1.5;
    border-bottom: .5px solid #fff;
    cursor: pointer;
}
.count .click-title .text1{
    flex: 1;
}
.count .click-title .letter{
    width: 32px;
    margin-right: 21px;
}
.count .click-title .icon-add{
    width: 20px;
    transition: all .5s;
}
.count .click-title.active .icon-add{
    transform: rotate(-45deg);
}
.count .click-content-wrap{
    display: none;
}
.count .click-content{
    padding: 17px 0 17px 40px;
    display: flex;
    font-size: 16px;
    line-height: 1.6;
    align-items: flex-start;
    border-bottom: .5px solid #fff;
}
.count .click-content .letter{
    width: 32px;
    margin-right: 21px;
}

.data{
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 9;
}
.data .bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.data .red sup{
    color: #E50111;
}
.data .data-content{
    position: relative;
    z-index: 2;
    padding-top: 55px;
}
.data .twoBtn {
    max-width: 80%;
    margin: 2rem auto 0;
}
.data .text1{
    width: 340px;
    margin: 0 auto;
}
.data .text2{
    font-size: 16px;
    line-height: 1.9;
    margin: 30px auto 0;
    width: 551px;
    text-align: center;
}
.data .text3{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.data form{
    width: 512px;
    margin: 30px auto 0;
}
.data .line{
    display: flex;
    margin-top: 15px;
    align-content: center;
    font-size: 16px;
}

.data .line dd {
    width: 300px;
}
.data .line .line-text{
    font-size: 16px;
    flex: 1;
}
.data .line .line-right{
    width: 300px;
    display: flex;
    align-items: center;
}
.data .line select,
.data .line input,
.data .line textarea{
    width: 100%;
    border: none;
    padding: 0 10px;
    resize: none;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    height: 40px;
    border-radius: 0;
}
.data .line input:focus,
.data .line select:focus,
.data .line textarea:focus{
    outline: none;
}
select[multiple]:focus option:checked {
	color: #2872e1 !important;
	/* 背景色 - 兼容不同浏览器 */
    background: linear-gradient(0deg, #b2d1f3 0%, #b2d1f3 100%);
    /* 字体颜色 - 兼容不同浏览器 */
    -webkit-text-fill-color: #2872e1 !important;
}
.data .line textarea{
    padding-top: 10px;
    height: 160px;
    line-height: 1.6;
    font-family: "Noto Sans JP", sans-serif;
}
.data .line option{
    display: block;
    padding: 10px;
    color: #000;
}
.data .line select{
    color: #B4B4B4;
}
.data .line select.active{
    color: #000;
}
.data .line input::placeholder,
.data .line textarea::placeholder{
    color: #B4B4B4;
}
.data .line option:disabled{
    color: #B4B4B4;
}
.data .line2 .line-right,.data .line3 .line-right{
    column-gap: 12px;
}
.data .line5 input{
    width: 75px;
    margin-right: 9px;
}
.data .line5 .age{
    font-size: 16px;
}
select::-ms-expand { display: none; }
select {
    border: solid 1px #000;
  
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  
    background: url('../images/top/arrow-bottom.png') no-repeat scroll 95% center transparent;
    background-color: #fff;
    background-size: 10px;
  
    padding-right: 14px;
}
.data .privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    font-size: 1.6rem;
}
.data .privacy input{
    border: 2px solid #fff;
    width: 22px;
    height: 22px;
}
.data .privacy .link{
    font-size: 16px;
    margin-left: 10px;
    text-decoration: underline;
    color: #000;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    background-color: white;
    line-height: 20px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

input[type="checkbox"]:after {
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: block;
    content: "x";
    color: transparent;
    background-color: transparent;
}

input[type="checkbox"]:checked:after {
    content: "✔";
    color: #000;
}
.data .btn{
    display: block;
    width: 388px;
    margin: 40px auto 0;
    text-align: center;
}

.data .btn input[type="submit"] {
    width: 100%;
    background:url('../images/top/data-btn.png') no-repeat center;
    height: 76px;
    border: 0;
    outline: none;
    background-size: contain;
    cursor: pointer;
    color: transparent;
}

.data .btn input[type="submit"]#submit {
    background:url('../images/top/send.png') no-repeat center;
    background-size: contain;
}

.data .btn input[type="submit"]#edit {
    background: #000;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    width: 97%;
    margin-bottom: 1rem;
    height: 65px;
}
.data .bottom{
    width: 512px;
    background-image: linear-gradient(to bottom,#001A72,#638FAF);
    padding: 6px;
    margin: 35px auto 0;
}
.data .bottom .white{
    background-color: #fff;
    padding: 20px 20px 7px;
}
.data .bottom .text4{
    color: #0068B6;
    text-align: center;
    font-size: 16px;
}
.data .bottom .text5{
    font-size: 16px;
    line-height: 1.8;
    margin-top: 10px;
}
.data .bottom .link2{
    display: block;
    width: 391px;
    margin: 0 auto;
}
.content{
    overflow: hidden;
}
/*.gs{
    opacity: 0;
    transform: translateY(4vw);
    transition: all .5s;
}
.gs.active{
    opacity: 1;
    transform: translate(0);
}*/
.data .err_mess {
    width: 100%;
    font-size: 1.6rem;
    color: #ff0000;
}

@media (max-width:1750px){
    .content .fixed-left{
        left: 3vw;
    }
    .content .fixed-right .right-btn{
        width: 20.635417vw;
    }
}
@media (max-width:1500px){
    
    .content .fixed-right .right-btn{
        width: 16.635417vw;
    }
}
@media (max-width:1250px){
    .content .fixed-left{
        display: none;
    }
    .content .fixed-right{
        display: none;
    }

    .content .wrapper {
        max-width: 750px;
    }

    .top .inner {
        max-width: 750px;
    }

    .table .person {
        width: 392px;
    }

    .table .machine {
        width: 258px;
    }
}
@media (max-width:1050px){
    .content .logo-right{
        display: none;
    }
}
@media (max-width:767px){
    .inner{
        padding: 0;
    }
    .top .ff-30{
        font-size: 4vw;
    }
    .reduce .man{
        width: 62.4vw;
        left: -1.066667vw;
        top: 16vw;
    }
    .reduce .bar{
/*        height: 12.266667vw;*/
        top: 2vw;
    }
    .reduce .text1{
        font-size: 2.4vw;
    }
    .reduce .text2{
        font-size: 4vw;
    }
    .reduce .text-content{
        margin-top: 15.866667vw;
        padding: 0 5.333333vw;
    }
    .reduce .text-content .text3{
        width: 49.2vw;
    }
    .reduce .text-content .text4{
        width: 73.866667vw;
        margin-top: 1.733333vw;
    }
    .reduce .list{
        margin-top: 3.333333vw;
    }
    .reduce .list .item{
        margin: 0 -.8vw;
    }
    .reduce .reduce-texts{
        width: 89.333333vw;
        margin-top: 1.333333vw;
    }
    .reduce .reduce-texts .reduce-btn{
/*        width: 82.4vw;*/
/*        bottom: 2vw;*/
        bottom: 3vw;
    }
    .reduce .reduce-texts .reduce-btn img {
        width: 85%;
    }
    .result .inner{
        padding-bottom: 8vw;
    }
    .result .inner .text1{
        padding-top: 8.266667vw;
        font-size: 20px;
    }
    .result .inner .text2{
        width: 60%;
        margin-top: -1.066667vw;
    }
     .result .inner .list{
/*        width: 64.666667vw;*/
        width: auto;
        margin-top: 2.666667vw;
        padding: 0 20px 5px;
    }
    .result .inner .item{
        width: 48%;
        font-size: 2.133333vw;
    }
    .result .inner .item .item-text{
        padding: 1.333333vw;
        font-size: min(3vw, 12px);
        background-size: cover;
    }
    .result .inner .arrow{
        width: 7.466667vw;
    }
    .result .inner .item .circle-wrap{
        width: 15.466667vw;
    }
    .result .inner .item2 .item-text2{
        margin-top: 1.333333vw;
        font-size: min(3vw, 12px);
        background-size: cover;
    }
    .result .inner .tip{
        width: auto;
        margin-top: 0;
    font-size: min(3vw, 12px);
    padding: 0 10px 20px;
    }
    .table .table-content{
        padding: 5px 10px 10px;
    }
     .table .person{
        width: 62.266667vw;
        right: -35px;
    }
    .table .machine{
        width: 42.4vw;
        bottom: 22.533333vw;
        right: -30px;
    }
    .table .sec-title{
       width: 80%;
    margin-top: -20px;
    }
    .table .title{
        width: 64.8vw;
        margin-top: 12vw;
    }
    .table .list{
        font-size: min(3vw, 12px);
        margin-top: 2.666667vw;
    }
    .table .list .column1{
        width: 19.333333vw;
    }
    .table .list .column .item{
        height: 11.333333vw;
    }
    .table .list .column3 .first{
        margin-left: 1px;
    }
    .table .list .column .item .icon1, .table .list .column .item .icon2{
        width: 8.4vw;
    }
    .table .bottom-title{
        margin-top: 7.466667vw;
        font-size: 4vw;
    }
    .table .bottom-title .text{
        padding: .666667vw 2.133333vw;
    }
    .table .bottom-title .icon-close{
        width: 3.466667vw;
        margin: 0 -1.6vw;
    }
    .table .bottom .text2{
        font-size: min(3.5vw, 14px);
        margin-top: 2.4vw;

    }
    .table .bottom .title-red{
        width: 62.666667vw;
        margin-top: 1.066667vw;
    }
    .table .bottom .text3{
        width: 46.4vw;
        font-size: 14px;
        margin-top: 1.6vw;
		line-height: 1.6;
    }
	.question .part1 {
    margin-top: -64px;
}
	
    .question .first .person{
    bottom: 1vw;
    width: 99%;
    left: -30px;
    }
    .question .first .title{
        width: 59.6vw;
        bottom: -2vw;
    }
    .question .first .first-content{
        top: 6vw;
        right: 4.066667vw;
    }
    .question .first .text1{
        font-size: min(3vw, 16px);
    }
    .question .first .text2{
        width: 44.933333vw;
    }
    .question .first .list{
        margin-top: 1.333333vw;
    }
    .question .first .item{
        font-size: min(3.6vw, 14px);
        margin-top: 0.2vw;
    }
    .question .first .item-icon{
        width: 5.466667vw;
        margin-right: 1.333333vw;
    }
    .question .part1 .bg2{
    bottom: 13.6vw;
    width: 115vw;
    }
    .question .part1 .part1-content{
        width: auto;
        padding:100px 9.333333vw 12.133333vw;
    }
    .question .part1 .part1-texts{
        width: 70vw;
    }
    .question .part1 .part1-top{
        margin-top: 4vw;
        line-height: 1.4;
    }
    .question .part1 .num{
        width: 12.266667vw;
        margin-right: 3.6vw;
    }
    .question .part1 .text3{
        font-size: 16px;
    }
    .question .part1 .text4{
        font-size: 22px;
    }
    .question .part1 .ff-30{
        font-size: 4vw;
    }
    .question .part1 .video-wrap{
        margin-top: 1.333333vw;
    }
    .question .part1 .question-video{
        width: 100%;
    }
    .question .part2 .part2-top{
        padding-top: 2vw;
        margin-left: 12.266667vw;
    }
    .question .part2 .text1{
        font-size: 16px;
    }
    .question .part2 .text2{
        font-size: 22px;
        margin-top: -.533333vw;
    }
    .question .part2 .num{
        width: 16vw;
        margin-left: 2.266667vw;
    }
    .question .part2 .black{
        margin-top: 2.266667vw;
        margin-left: 46.666667vw;
    }
    .question .part2 .text3{
        font-size: 2.133333vw;
        padding: .666667vw 2.666667vw;
        background-position: center;
    }
    .question .part2 .text4{
        font-size: 3.066667vw;
        padding: .666667vw 3.066667vw;
        margin-top: -.666667vw;
        background-position: center;
    }
    .question .part2 .imgs{
        margin-left: 38.933333vw;
    }
    .question .part2 .circle-y{
        width: 22.666667vw;
    }
    .question .part2 .part2-tip{
        width: auto;
        font-size: min(3vw, 12px);
        margin-top: .4vw;
        padding: 0 9.333333vw;
    }
    .question .part2 .part2-machine{
        width: 43.733333vw;
        left: 2.8vw;
    }
    .question .part2 .part2-person{
        width: 42.4vw;
        bottom: 3.333333vw;
    }
    .question .part3 .part3-content{
        padding-top: 14.133333vw;
    }
    .question .part3{
        padding-bottom: 8vw;
    }
    .question .part3 .part3-top{
        margin-left: 14.666667vw;
    }
    .question .part3 .num{
        width: 16vw;
    }
    .question .part3 .text1{
        font-size: 16px;
    }
    .question .part3 .text2{
        font-size: 22px;
    }
    .question .part3 .part3-middle{
        margin-top: 2vw;
        margin-left: 11.733333vw;
    }
    .question .part3 .middle-img{
        width: 48vw;
    }
    .question .part3 .list{
        font-size: 2.4vw;
        letter-spacing: -1px;
    }
    .question .part3 .item{
        margin-top: .933333vw;
        line-height: 4.666667vw;
        padding: 0 2.933333vw;
    }
    .question .part3 .row .item:nth-of-type(2){
        margin-left: .933333vw;
    }
    .question .part3 .part3-tip{
        margin-top: 3.333333vw;
        font-size: min(3vw, 14px);
        padding: 0 9.333333vw;
        width: auto;
    }
    .question .part4{
        padding-bottom: 14vw;
        margin-top: -13.333333vw;
    }
    .question .part4 .part4-content{
        padding-top: 10.666667vw;
    }
    .question .part4 .part4-top{
        margin-right: 12.666667vw;
    }
    .question .part4 .text1{
        font-size: 16px;
    }
    .question .part4 .text2{
        font-size: 20px;
    }
    .question .part4 .text3{
        font-size: 5.333333vw;
    }
    .question .part4 .num{
        width: 16vw;
        margin-left: 1.733333vw;
    }
    .question .part4 .part4-img{
        width: 73.333333vw;
        margin-top: 1.333333vw;
    }
    .question .part4 .part4-tip{
        margin-top: 2.666667vw;
        font-size: min(3vw, 14px);
        padding: 0 9.333333vw;
        width: auto;
    }
    .question .part3 .bg{
        height: auto;
    }
    .cold{
        margin-top: -13.333333vw;
        padding-bottom: 10.666667vw;
    }
    .cold .person1{
        width: 63.066667vw;
        top: -4vw;
    }
    .cold .cold-content{
        padding-top: 0;
    }
    .cold .text1{
        width: 24.666667vw;
    }
    .cold .text2{
        width: 48.666667vw;
        margin: -.933333vw 0 0 9.333333vw;
    }
    .cold .text3{
        width: 62.666667vw;
        margin-top: 4vw;
    }
    .cold .cold-box{
        width: 89.2vw;
        margin-top: 2vw;
        padding: .8vw;
    }
    .cold .white{
        padding: 2px 10px 10px;
    }
    .cold .person2{
        width: 28vw;
        left: -2.666667vw;
    }
    .cold .text4{
        font-size: 2.6vw;
    padding-top: 1.6vw;
    }
    .cold .text5{
        font-size: 2.4vw;
    }
    .cold .text-b{
        font-size: 28px;
    }
    .cold .text6{
        width: 65vw;
        margin-top: .8vw;
    }
    .cold .text7{
        width: 65vw;
        margin-top: 2.666667vw;
    }
    .cold .cold-bottom{
        width: 82.466667vw;
        padding: 2vw 3.666667vw;
        margin: 2.666667vw 0 0 5.333333vw;
    }
    .cold .cold-img1{
        width: 22.266667vw;
        left: -7.466667vw;
        bottom: -11.333333vw;
    }
    .cold .cold-img2{
    width: 54.066667vw;
    top: -3.333333vw;
    right: -34.4vw;
    }
    .cold .text-inner{
        font-size: min(3vw, 12px);
        width: 64.2vw;
    }
    .cold .cold-tip{
           width: 80vw;
    font-size: 11px;
    margin-top: .8vw;
    }
    .today{
        margin-top: -10.666667vw;
    }
    .today .today-content{
        padding-top: 1.733333vw;
    }
    .today .text1{
        width: 29.066667vw;
    }
    .today .text2{
        width: 39.466667vw;
        margin: 2.8vw 0 0 11.333333vw;
    }
    .today .list{
         margin: 40px 10px 0;
    }
    .today .list .item{
        width: 80px;
    }
    .today .list .item1{
        margin-right: -2.533333vw;
    }
    .today .list .item:nth-of-type(n+2){
        margin: 0 -2.533333vw;
    }
    .today .today-bottom{
        padding: 4vw 0 2.666667vw;
        margin-top: 0;
    }
    .today .bottom-text{
            font-size: 18px;
    }
    .today .today-btn{
        width: 82.4vw;
    }
    .today .bg2{
        height: 100%;
        object-fit: cover;
    }
    .body .text1{
        width: 35vw;
        padding-top: 6.933333vw;
    }
    .body .text2{
        width: 90%;
        margin-top: 4vw;
    }
    .body .body-img1{
        width: 90%;
    }
    .body .item{
        padding: .666667vw;
        width: auto;
        margin: 2vw 9.333333vw 0;
    }
	.body .item_add{
        width: auto;
        margin: 2vw 9.333333vw 0;
    }
    .body .item .item-title{
        font-size: min(3vw,14px);
    }
    .body .item .white{
        padding: 2vw 0;
    }
    .body .item .item-text{
        font-size: min(3vw,14px);
    }
    .body .item .line{
        margin-top: 2vw;
    }
    .body .item .black{
        width: 6.4vw;
        line-height: 5vw;
        font-size: min(3vw,12px);
        margin-right: 1.333333vw;
    }
    .body .item .num{
        height: 5.2vw;
    }
    .body .item .item-s2{
        margin-left: 3.066667vw;
    }
    .body .bottom{
        width: auto;
        margin-top: 4vw;
        padding: 0 9.333333vw;
    }
    .body .blue{
        line-height: 8vw;
        font-size: 3.466667vw;
    }
    .body .blue .icon{
        width: 2.266667vw;
        right: 3.066667vw;
    }
    .body{
        padding-bottom: 9.333333vw;
    }
    .carousel .carousel-content{
        padding-top: 7.066667vw;
    }
    .carousel .title{
        width: 52.666667vw;
    }
    .carousel .swiper-container{
        width: auto;
        margin: 3.066667vw 9.333333vw 0;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 6vw;
        height: 6vw;
    }
    .swiper-button-next{
        right: 1.4vw;
    }
    .swiper-button-prev{
        left: 1.4vw;
    }
    .swiper-pagination-bullet{
        width: 1.066667vw;
        height: 1.066667vw;
    }
    .carousel .slide-title{
        margin-top: 5.333333vw;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        top: 43vw;
    }
    .carousel .step{
        width: 20vw;
    }
    .carousel .text1{
        font-size: 18px;
        margin-left: .666667vw;
    }
    .carousel .text2{
        margin-top: 1.466667vw;
        font-size: min(3.2vw, 14px);
    }
    .carousel{
        padding-bottom: 9.333333vw;
    }
    .indoor{
        padding-bottom: 8.8vw;
    }
    .indoor .indoor-content{
        width: auto;
        padding: 50px 20px 0;
    }
    .indoor .text1{
        width: 45.866667vw;
    }
    .indoor .click-title{
        line-height: 9.333333vw;
        font-size: 16px;
        margin-top: 1.066667vw;
    }
    .indoor .click-title1{
        margin-top: 2.933333vw;
    }
    .indoor .click-title .icon-add{
        width: 2.666667vw;
        right: 2.933333vw;
    }
    .indoor .click-content-inner{
        padding: 2.666667vw 0 2.666667vw 0;
    }
    .indoor .click-content .left-img{
        width: 33.866667vw;
        margin-right: 2.666667vw;
    }
    .indoor .click-content .text2{
        font-size: min(4vw, 14px);
    }
    .indoor .click-content .text3{
        font-size: min(3.2vw, 14px);
    }
    .count{
        padding-bottom: 8.8vw;
    }
    .count .bg {
        height: 100%;
    }
    .count .count-content{
        width: auto;
        padding: 6.4vw 9.333333vw 0;
    }
    .count .title{
        width: 30.133333vw;
    }
    .count .click-title{
        padding: 2.666667vw 2.666667vw 2.666667vw 5.333333vw;
        font-size: min(4.5vw, 16px);
    }
    .count .click-title .letter{
        width: 4.266667vw;
        margin-right: 2.8vw;
    }
    .count .click-title .icon-add{
        width: 2.666667vw;
    }
    .count .click-content{
        padding: 2.266667vw 0 2.266667vw 5.333333vw;
        font-size: min(3.2vw, 14px);
    }
    .count .click-content .letter{
        width: 4.266667vw;
        margin-right: 2.8vw;
    }
    .data{
        padding-bottom: 5.333333vw;
    }
    .data .data-content{
        padding-top: 7.333333vw;
    }
    .data .text1{
        width: 45.333333vw;
    }
    .data .text2{
        font-size: min(3vw, 14px);
        margin-top: 4vw;
        width: 73.466667vw;
    }
    .data .text3{
        font-size: min(3vw, 12px);
        margin-top: 1.333333vw;
    }
    .data form{
/*        width: 68.266667vw;*/
        width: auto;
        padding: 0 9.333333vw 5.333333vw;
        margin-top: 4vw;
    }
    .data .line{
        margin-top: 2vw;
        font-size: min(4vw, 14px);
        display: block;
/*        line-height: 5.333333vw;*/
    }
    .data .line .line-text{
        font-size: min(4vw, 16px);
    }

    .data .line dd {
        width: auto;
        margin-top: min(2vw, 1rem);
    }
    .data .line .line-right{
        width: auto;
    }
    .data .line2 .line-right, .data .line3 .line-right{
        column-gap: 1.6vw;
    }
    .data .line5 .age{
        font-size: min(4vw, 14px);
    }
    .data .privacy{
        margin-top: 4.8vw;
        font-size: min(4vw, 14px);
    }
    .data .privacy input{
        width: 3vw;
        height: 3vw;
    }
    input[type="checkbox"]:after{
        width: 3vw;
        font-size: 2.7vw;
        line-height: 3vw;
        margin-left: -.4vw;
    }
    .data .privacy .link{
        font-size: min(4vw, 14px);
        margin-left: 1.333333vw;
    }
    .data .btn{
        width: auto;
        margin-top: 5.333333vw;
    }
    .data .bottom{
        width: auto ;
        padding: .8vw;
        margin-top: 4.666667vw;
    }
    .data .bottom .white{
        padding: 2.666667vw 2.666667vw .933333vw;
    }
    .data .bottom .text4{
        font-size: min(4.3vw, 14px);
    }
    .data .line select, .data .line input, .data .line textarea{
        font-size: min(4vw, 14px);
        padding: 0 10px;
        height: 8.333333vw;
    }
    .data .bottom .text5{
        font-size: min(3.2vw, 12px);
        margin-top: 1.333333vw;
    }
    .data .bottom .link2{
        width: auto;
        margin-top: 2vw;
    }
    .data .line textarea{
        padding-top: 1.333333vw;
        height: 21.333333vw;
    }
    .question .part1 .part1-tip{
        font-size: min(3.2vw, 14px);
    }

    .data .err_mess {
       font-size: min(3.2vw, 12px);
    }

    .data .btn input[type="submit"]#edit {
        background: #000;
        font-size: 16px;
        color: #fff;
        border-radius: 30px;
        width: 97%;
        margin-bottom: 1rem;
        height: 55px;
    }
}
@-webkit-keyframes shake {
    10% {
      transform: rotate(10deg);
    }
    20% {
      transform: rotate(-7deg);
    }
    30% {
      transform: rotate(3deg);
    }
    40% {
      transform: rotate(-3deg);
    }
    50%,
    100% {
      transform: rotate(0deg);
    }
  }
  .onlineCls {
    color: #333;
    font-size: 16px;
    position: relative;
    img {
      width: 100%;
     
      animation: shake 1s 0.15s linear infinite;
      -moz-animation: shake 1s 0.15s linear infinite; /* Firefox */
      -webkit-animation: shake 1s 0.15s linear infinite; /* Safari and Chrome */
      -o-animation: shake 1s 0.15s linear infinite; /* Opera */
    }
  }
  

.purupuru {
  animation: yureru-s 2s infinite;
}
@keyframes yureru-s {
  0% {
    transform: translate(2px, 0px);
  }
  5% {
    transform: translate(-2px, 0px);
  }
  10% {
    transform: translate(2px, 0px);
  }
  15% {
    transform: translate(-2px, 0px);
  }
  20% {
    transform: translate(2px, 0px);
  }
  25% {
    transform: translate(-2px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
}

#thanks {
    height: 95vh;
}

.thanksbtn {
    margin-top: 50px;
}

.thanksbtn a{
    display: inline-block;
    width: 220px;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background: #000;
    border: unset;
    border-radius: 10px;
}

.thanksbtn a:hover{
    opacity:0.7;
    text-decoration: none;
}
@media (max-width:767px){
    #thanks .data .text2 {
        font-size: 14px;
    }
    .thanksbtn a {
        font-size: 14px;
        width: 180px;
        line-height: 40px;
    }
}

.data .line input[type="date"] {
  position: relative;
}

.data .line input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/*.data .line input[type="date"]::-webkit-inner-spin-button,
.data .line input[type="date"]::-webkit-clear-button {
  z-index: -10;
}*/

.data .line-datetime .item {
    width: 48%;
}

.data .line-datetime .form-date {
    position: relative;
}

.data .line-datetime .form-date:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: url('../images/top/calendar.svg') no-repeat;
    width: 15px;
    height: 15px;
    background-size: contain;
    z-index: 1;
}

@media (max-width:767px){
    .data .line input[type="date"] {
        background: #fff;
        appearance: none;
        text-align: left;
    }

    .data .line-datetime .item {
        width: 40%;
    }

    .data .line-datetime .item.form-date {
        width: 58%;
    }
}

.twoBtn ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.twoBtn ul li {
/*    width: 49%;*/
    text-align: center;
}

.twoBtn ul li a {
    display: block;
}

.twoBtn ul li a:hover {
    opacity: 0.7;
}

.content .fixed-right .twoBtn ul li {
    width: min(11.5vw, 235px);
}
/* ---------------------------------
    Modal
--------------------------------- */

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: grid;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
}

.modal-container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.modal-header {
    padding: 1rem 0;
    color: #fff;
    font-size: 1.354167vw;
    text-align: center;
    background: #06C755;
}

.modal-content {
    padding: 1rem 0.5rem;
    background: #fff;
}

.modal-content p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.modal-links {
    margin-bottom: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.modal-links a {
    padding: 1rem 0;
    border: 1px solid #06C755;
    position: relative;
    display: grid;
    gap: 0.5rem;
    color: #06C755;
    text-align: center;
    font-size: 1.6rem;
}

.modal-links a::after {
    width: 0.5rem;
    height: 0.5rem;
    border-right: 1px solid #06C755;
    border-bottom: 1px solid #06C755;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) rotate(-45deg);
    content: '';
    display: block;
}

.modal-links a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.modal-links i {
    font-size: 2.5em;
}

.modal-buttons button {
    width: 100%;
    padding: 0.75rem 0;
    display: block;
    color: #999;
    background: #eee;
    font-size: 1.6rem;
    border: 0;
}

.tel-modal-links {
    margin-bottom: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.tel-modal-links a {
    padding: 1rem 0;
    text-align: center;
}

/* ---------------------------------
    jQuery
--------------------------------- */

.js-accordion-trigger {
    cursor: pointer;
}

.js-accordion-target {
    display: none;
}

@media (max-width:767px){
    .modal-header {
        font-size: min(5vw, 2.2rem);
    }

    .modal-content p {
        font-size: min(4vw, 1.8rem);
    }

    .modal-links i {
        font-size: min(7vw, 2.5rem);
    }

    .modal-links a,
    .modal-buttons button {
        font-size: min(3.5vw, 1.6rem);
    }
}