@charset "utf-8";

/* 改行の切り替え;
----------------------------------------------- */
.br{
 display:block;
}
.brN{
 display:none;
}
@media screen and (max-width: 768px) {
.br{
 display:none;
}
.brN{
 display:block;
}
}

/* 文字寄せ;
----------------------------------------------- */
.tacPC{
 text-align:center!important;
}
@media screen and (max-width: 768px) {
.tacPC{
 text-align:left!important;
}
}

.talPC{
 text-align:left!important;
}
@media screen and (max-width: 768px) {
.talPC{
 text-align:center!important;
}
}




.markerY{
background: -moz-linear-gradient(transparent 70%, #ffff66 40%);
background: -webkit-linear-gradient(transparent 70%, #ffff66 40%);
background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.9, transparent), color-stop(0.9, #ffff66));
background: -o-linear-gradient(transparent 70%, #ffff66 40%);
background: linear-gradient(transparent 70%, #ffff66 40%);
}

/* width
----------------------------------------------- */
.w100 { width: 100px!important;}
.w150 { width: 150px!important;}
.w200 { width: 200px!important;}
.w250 { width: 250px!important;}
.w300 { width: 300px!important;}
.w350 { width: 350px!important;}
.w400 { width: 400px!important;}
.w450 { width: 450px!important;}
.w500 { width: 500px!important;}

@media screen and (max-width: 767px) {
}
/* margin
------------------------------------------------ */
.m1 { margin: 1px!important;}
.m3 { margin: 3px!important;}
.m5 { margin: 5px!important;}
.m10 { margin: 10px!important;}
.m20 { margin: 20px!important;}
.m30 { margin: 30px!important;}

.mt1 { margin-top: 1px!important;}
.mt2 { margin-top: 2px!important;}
.mt3 { margin-top: 3px!important;}
.mt4 { margin-top: 4px!important;}
.mt5 { margin-top: 5px!important;}
.mt6 { margin-top: 6px!important;}
.mt7 { margin-top: 7px!important;}
.mt8 { margin-top: 8px!important;}
.mt9 { margin-top: 9px!important;}
.mt10 { margin-top: 10px!important;}
.mt11 { margin-top: 11px!important;}
.mt12 { margin-top: 12px!important;}
.mt13 { margin-top: 13px!important;}
.mt14 { margin-top: 14px!important;}
.mt15 { margin-top: 15px!important;}
.mt20 { margin-top: 20px!important;}
.mt25 { margin-top: 25px!important;}
.mt30 { margin-top: 30px!important;}
.mt35 { margin-top: 35px!important;}
.mt40 { margin-top: 40px!important;}
.mt50 { margin-top: 50px!important;}
.mt60 { margin-top: 60px!important;}
.mt70 { margin-top: 70px!important;}
.mt80 { margin-top: 80px!important;}
.mt90 { margin-top: 90px!important;}

.mr1 { margin-right: 1px!important;}
.mr2 { margin-right: 2px!important;}
.mr3 { margin-right: 3px!important;}
.mr4 { margin-right: 4px!important;}
.mr5 { margin-right: 5px!important;}
.mr6 { margin-right: 6px!important;}
.mr7 { margin-right: 7px!important;}
.mr8 { margin-right: 8px!important;}
.mr9 { margin-right: 9px!important;}
.mr10 { margin-right: 10px!important;}
.mr11 { margin-right: 11px!important;}
.mr12 { margin-right: 12px!important;}
.mr13 { margin-right: 13px!important;}
.mr14 { margin-right: 14px!important;}
.mr15 { margin-right: 15px!important;}
.mr20 { margin-right: 20px!important;}
.mr25 { margin-right: 25px!important;}
.mr30 { margin-right: 30px!important;}
.mr40 { margin-right: 40px!important;}
.mr50 { margin-right: 50px!important;}
.mr60 { margin-right: 60px!important;}
.mr70 { margin-right: 70px!important;}
.mr80 { margin-right: 80px!important;}
.mr90 { margin-right: 90px!important;}
.mr100 { margin-right: 100px!important;}

.mb1 { margin-bottom: 1px!important;}
.mb2 { margin-bottom: 2px!important;}
.mb3 { margin-bottom: 3px!important;}
.mb4 { margin-bottom: 4px!important;}
.mb5 { margin-bottom: 5px!important;}
.mb6 { margin-bottom: 6px!important;}
.mb7 { margin-bottom: 7px!important;}
.mb8 { margin-bottom: 8px!important;}
.mb9 { margin-bottom: 9px!important;}
.mb10 { margin-bottom: 10px!important;}
.mb11 { margin-bottom: 11px!important;}
.mb12 { margin-bottom: 12px!important;}
.mb13 { margin-bottom: 13px!important;}
.mb14 { margin-bottom: 14px!important;}
.mb15 { margin-bottom: 15px!important;}
.mb20 { margin-bottom: 20px!important;}
.mb25 { margin-bottom: 25px!important;}
.mb30 { margin-bottom: 30px!important;}
.mb40 { margin-bottom: 40px!important;}
.mb50 { margin-bottom: 50px!important;}
.mb60 { margin-bottom: 60px!important;}
.mb70 { margin-bottom: 70px!important;}
.mb80 { margin-bottom: 80px!important;}
.mb90 { margin-bottom: 90px!important;}
.mb100 { margin-bottom: 100px!important;}

.ml1 { margin-left: 1px!important;}
.ml2 { margin-left: 2px!important;}
.ml3 { margin-left: 3px!important;}
.ml4 { margin-left: 4px!important;}
.ml5 { margin-left: 5px!important;}
.ml6 { margin-left: 6px!important;}
.ml7 { margin-left: 7px!important;}
.ml8 { margin-left: 8px!important;}
.ml9 { margin-left: 9px!important;}
.ml10 { margin-left: 10px!important;}
.ml11 { margin-left: 11px!important;}
.ml12 { margin-left: 12px!important;}
.ml13 { margin-left: 13px!important;}
.ml14 { margin-left: 14px!important;}
.ml15 { margin-left: 15px!important;}
.ml20 { margin-left: 20px!important;}
.ml25 { margin-left: 25px!important;}
.ml30 { margin-left: 30px!important;}
.ml40 { margin-left: 40px!important;}
.ml50 { margin-left: 50px!important;}
.ml60 { margin-left: 60px!important;}
.ml70 { margin-left: 70px!important;}
.ml80 { margin-left: 80px!important;}
.ml90 { margin-left: 90px!important;}
.ml100 { margin-left: 100px!important;}

.mtmb5 { margin-top: 5px; margin-bottom: 5px!important;}
.mtmb10 { margin-top: 10px; margin-bottom: 10px!important;}
.mtmb15 { margin-top: 15px; margin-bottom: 15px!important;}

.mlmrAuto {
	margin-left: auto!important;
	margin-right: auto!important;
}

/* em */
.m01em { margin: 0.1em!important;}
.m02em { margin: 0.2em!important;}
.m03em { margin: 0.3em!important;}
.m04em { margin: 0.4em!important;}
.m05em { margin: 0.5em!important;}
.m10em { margin: 1.0em!important;}
.m12em { margin: 1.2em!important;}
.m14em { margin: 1.4em!important;}
.m16em { margin: 1.6em!important;}
.m18em { margin: 1.8em!important;}
.m20em { margin: 2.0em!important;}

.mt01em { margin-top: 0.1em!important;}
.mt02em { margin-top: 0.2em!important;}
.mt03em { margin-top: 0.3em!important;}
.mt04em { margin-top: 0.4em!important;}
.mt05em { margin-top: 0.5em!important;}
.mt10em { margin-top: 1.0em!important;}
.mt12em { margin-top: 1.2em!important;}
.mt14em { margin-top: 1.4em!important;}
.mt16em { margin-top: 1.6em!important;}
.mt18em { margin-top: 1.8em!important;}
.mt20em { margin-top: 2.0em!important;}

.mr01em { margin-right: 0.1em!important;}
.mr02em { margin-right: 0.2em!important;}
.mr03em { margin-right: 0.3em!important;}
.mr04em { margin-right: 0.4em!important;}
.mr05em { margin-right: 0.5em!important;}
.mr10em { margin-right: 1.0em!important;}
.mr12em { margin-right: 1.2em!important;}
.mr14em { margin-right: 1.4em!important;}
.mr16em { margin-right: 1.6em!important;}
.mr18em { margin-right: 1.8em!important;}
.mr20em { margin-right: 2.0em!important;}

.mb01em { margin-bottom: 0.1em!important;}
.mb02em { margin-bottom: 0.2em!important;}
.mb03em { margin-bottom: 0.3em!important;}
.mb04em { margin-bottom: 0.4em!important;}
.mb05em { margin-bottom: 0.5em!important;}
.mb10em { margin-bottom: 1.0em!important;}
.mb12em { margin-bottom: 1.2em!important;}
.mb14em { margin-bottom: 1.4em!important;}
.mb16em { margin-bottom: 1.6em!important;}
.mb18em { margin-bottom: 1.8em!important;}
.mb20em { margin-bottom: 2.0em!important;}

.ml01em { margin-left: 0.1em!important;}
.ml02em { margin-left: 0.2em!important;}
.ml03em { margin-left: 0.3em!important;}
.ml04em { margin-left: 0.4em!important;}
.ml05em { margin-left: 0.5em!important;}
.ml10em { margin-left: 1.0em!important;}
.ml12em { margin-left: 1.2em!important;}
.ml14em { margin-left: 1.4em!important;}
.ml16em { margin-left: 1.6em!important;}
.ml18em { margin-left: 1.8em!important;}
.ml20em { margin-left: 2.0em!important;}

.mtmb01em { margin-top: 0.1em; margin-bottom: 0.1em!important;}
.mtmb02em { margin-top: 0.2em; margin-bottom: 0.2em!important;}
.mtmb03em { margin-top: 0.3em; margin-bottom: 0.3em!important;}
.mtmb04em { margin-top: 0.4em; margin-bottom: 0.4em!important;}
.mtmb05em { margin-top: 0.5em; margin-bottom: 0.5em!important;}
.mtmb10em { margin-top: 1.0em; margin-bottom: 1.0em!important;}
.mtmb12em { margin-top: 1.2em; margin-bottom: 1.2em!important;}
.mtmb14em { margin-top: 1.4em; margin-bottom: 1.4em!important;}
.mtmb16em { margin-top: 1.6em; margin-bottom: 1.6em!important;}
.mtmb18em { margin-top: 1.8em; margin-bottom: 1.8em!important;}
.mtmb20em { margin-top: 2.0em; margin-bottom: 2.0em!important;}

.mlmr01em { margin-left: 0.1em; margin-right: 0.1em!important;}
.mlmr02em { margin-left: 0.2em; margin-right: 0.2em!important;}
.mlmr03em { margin-left: 0.3em; margin-right: 0.3em!important;}
.mlmr04em { margin-left: 0.4em; margin-right: 0.4em!important;}
.mlmr05em { margin-left: 0.5em; margin-right: 0.5em!important;}
.mlmr10em { margin-left: 1.0em; margin-right: 1.0em!important;}
.mlmr12em { margin-left: 1.2em; margin-right: 1.2em!important;}
.mlmr14em { margin-left: 1.4em; margin-right: 1.4em!important;}
.mlmr16em { margin-left: 1.6em; margin-right: 1.6em!important;}
.mlmr18em { margin-left: 1.8em; margin-right: 1.8em!important;}
.mlmr20em { margin-left: 2.0em; margin-right: 2.0em!important;}

/* rem */
.m01rem { margin: 0.1rem!important;}
.m02rem { margin: 0.2rem!important;}
.m03rem { margin: 0.3rem!important;}
.m04rem { margin: 0.4rem!important;}
.m05rem { margin: 0.5rem!important;}
.m10rem { margin: 1.0rem!important;}
.m12rem { margin: 1.2rem!important;}
.m14rem { margin: 1.4rem!important;}
.m16rem { margin: 1.6rem!important;}
.m18rem { margin: 1.8rem!important;}
.m20rem { margin: 2.0rem!important;}

.mt01rem { margin-top: 0.1rem!important;}
.mt02rem { margin-top: 0.2rem!important;}
.mt03rem { margin-top: 0.3rem!important;}
.mt04rem { margin-top: 0.4rem!important;}
.mt05rem { margin-top: 0.5rem!important;}
.mt10rem { margin-top: 1.0rem!important;}
.mt12rem { margin-top: 1.2rem!important;}
.mt14rem { margin-top: 1.4rem!important;}
.mt16rem { margin-top: 1.6rem!important;}
.mt18rem { margin-top: 1.8rem!important;}
.mt20rem { margin-top: 2.0rem!important;}

.mr01rem { margin-right: 0.1rem!important;}
.mr02rem { margin-right: 0.2rem!important;}
.mr03rem { margin-right: 0.3rem!important;}
.mr04rem { margin-right: 0.4rem!important;}
.mr05rem { margin-right: 0.5rem!important;}
.mr10rem { margin-right: 1.0rem!important;}
.mr12rem { margin-right: 1.2rem!important;}
.mr14rem { margin-right: 1.4rem!important;}
.mr16rem { margin-right: 1.6rem!important;}
.mr18rem { margin-right: 1.8rem!important;}
.mr20rem { margin-right: 2.0rem!important;}

.mb01rem { margin-bottom: 0.1rem!important;}
.mb02rem { margin-bottom: 0.2rem!important;}
.mb03rem { margin-bottom: 0.3rem!important;}
.mb04rem { margin-bottom: 0.4rem!important;}
.mb05rem { margin-bottom: 0.5rem!important;}
.mb10rem { margin-bottom: 1.0rem!important;}
.mb12rem { margin-bottom: 1.2rem!important;}
.mb14rem { margin-bottom: 1.4rem!important;}
.mb16rem { margin-bottom: 1.6rem!important;}
.mb18rem { margin-bottom: 1.8rem!important;}
.mb20rem { margin-bottom: 2.0rem!important;}

.ml01rem { margin-left: 0.1rem!important;}
.ml02rem { margin-left: 0.2rem!important;}
.ml03rem { margin-left: 0.3rem!important;}
.ml04rem { margin-left: 0.4rem!important;}
.ml05rem { margin-left: 0.5rem!important;}
.ml10rem { margin-left: 1.0rem!important;}
.ml12rem { margin-left: 1.2rem!important;}
.ml14rem { margin-left: 1.4rem!important;}
.ml16rem { margin-left: 1.6rem!important;}
.ml18rem { margin-left: 1.8rem!important;}
.ml20rem { margin-left: 2.0rem!important;}

.mtmb01rem { margin-top: 0.1rem; margin-bottom: 0.1rem!important;}
.mtmb02rem { margin-top: 0.2rem; margin-bottom: 0.2rem!important;}
.mtmb03rem { margin-top: 0.3rem; margin-bottom: 0.3rem!important;}
.mtmb04rem { margin-top: 0.4rem; margin-bottom: 0.4rem!important;}
.mtmb05rem { margin-top: 0.5rem; margin-bottom: 0.5rem!important;}
.mtmb10rem { margin-top: 1.0rem; margin-bottom: 1.0rem!important;}
.mtmb12rem { margin-top: 1.2rem; margin-bottom: 1.2rem!important;}
.mtmb14rem { margin-top: 1.4rem; margin-bottom: 1.4rem!important;}
.mtmb16rem { margin-top: 1.6rem; margin-bottom: 1.6rem!important;}
.mtmb18rem { margin-top: 1.8rem; margin-bottom: 1.8rem!important;}
.mtmb20rem { margin-top: 2.0rem; margin-bottom: 2.0rem!important;}

.mlmr01rem { margin-left: 0.1rem; margin-right: 0.1rem!important;}
.mlmr02rem { margin-left: 0.2rem; margin-right: 0.2rem!important;}
.mlmr03rem { margin-left: 0.3rem; margin-right: 0.3rem!important;}
.mlmr04rem { margin-left: 0.4rem; margin-right: 0.4rem!important;}
.mlmr05rem { margin-left: 0.5rem; margin-right: 0.5rem!important;}
.mlmr10rem { margin-left: 1.0rem; margin-right: 1.0rem!important;}
.mlmr12rem { margin-left: 1.2rem; margin-right: 1.2rem!important;}
.mlmr14rem { margin-left: 1.4rem; margin-right: 1.4rem!important;}
.mlmr16rem { margin-left: 1.6rem; margin-right: 1.6rem!important;}
.mlmr18rem { margin-left: 1.8rem; margin-right: 1.8rem!important;}
.mlmr20rem { margin-left: 2.0rem; margin-right: 2.0rem!important;}


/* padding
------------------------------------------------ */
/* px */
.p1 { padding: 1px!important;}
.p3 { padding: 3px!important;}
.p5 { padding: 5px!important;}
.p10 { padding: 10px!important;}
.p15 { padding: 15px!important;}
.p20 { padding: 20px!important;}

.pt1 { padding-top: 1px!important;}
.pt2 { padding-top: 2px!important;}
.pt3 { padding-top: 3px!important;}
.pt4 { padding-top: 4px!important;}
.pt5 { padding-top: 5px!important;}
.pt6 { padding-top: 6px!important;}
.pt7 { padding-top: 7px!important;}
.pt8 { padding-top: 8px!important;}
.pt9 { padding-top: 9px!important;}
.pt10 { padding-top: 10px!important;}
.pt11 { padding-top: 11px!important;}
.pt12 { padding-top: 12px!important;}
.pt13 { padding-top: 13px!important;}
.pt14 { padding-top: 14px!important;}
.pt15 { padding-top: 15px!important;}
.pt20 { padding-top: 20px!important;}
.pt25 { padding-top: 25px!important;}
.pt30 { padding-top: 35px!important;}

.pr1 { padding-right: 1px!important;}
.pr2 { padding-right: 2px!important;}
.pr3 { padding-right: 3px!important;}
.pr4 { padding-right: 4px!important;}
.pr5 { padding-right: 5px!important;}
.pr6 { padding-right: 6px!important;}
.pr7 { padding-right: 7px!important;}
.pr8 { padding-right: 8px!important;}
.pr9 { padding-right: 9px!important;}
.pr10 { padding-right: 10px!important;}
.pr11 { padding-right: 11px!important;}
.pr12 { padding-right: 12px!important;}
.pr13 { padding-right: 13px!important;}
.pr14 { padding-right: 14px!important;}
.pr15 { padding-right: 15px!important;}
.pr16 { padding-right: 16px!important;}
.pr17 { padding-right: 17px!important;}
.pr18 { padding-right: 18px!important;}
.pr19 { padding-right: 19px!important;}
.pr20 { padding-right: 20px!important;}
.pr25 { padding-right: 25px!important;}
.pr30 { padding-right: 30px!important;}

.pb1 { padding-bottom: 1px!important;}
.pb2 { padding-bottom: 2px!important;}
.pb3 { padding-bottom: 3px!important;}
.pb4 { padding-bottom: 4px!important;}
.pb5 { padding-bottom: 5px!important;}
.pb6 { padding-bottom: 6px!important;}
.pb7 { padding-bottom: 7px!important;}
.pb8 { padding-bottom: 8px!important;}
.pb9 { padding-bottom: 9px!important;}
.pb10 { padding-bottom: 10px!important;}
.pb11 { padding-bottom: 11px!important;}
.pb12 { padding-bottom: 12px!important;}
.pb13 { padding-bottom: 13px!important;}
.pb14 { padding-bottom: 14px!important;}
.pb15 { padding-bottom: 15px!important;}
.pb20 { padding-bottom: 20px!important;}
.pb25 { padding-bottom: 25px!important;}
.pb30 { padding-bottom: 30px!important;}

.pl1 { padding-left: 1px!important;}
.pl2 { padding-left: 2px!important;}
.pl3 { padding-left: 3px!important;}
.pl4 { padding-left: 4px!important;}
.pl5 { padding-left: 5px!important;}
.pl6 { padding-left: 6px!important;}
.pl7 { padding-left: 7px!important;}
.pl8 { padding-left: 8px!important;}
.pl9 { padding-left: 9px!important;}
.pl10 { padding-left: 10px!important;}
.pl11 { padding-left: 11px!important;}
.pl12 { padding-left: 12px!important;}
.pl13 { padding-left: 13px!important;}
.pl14 { padding-left: 14px!important;}
.pl15 { padding-left: 15px!important;}
.pl20 { padding-left: 20px!important;}
.pl25 { padding-left: 25px!important;}
.pl30 { padding-left: 30px!important;}


.ptpb5 { padding-top: 5px; padding-bottom: 5px!important;}
.ptpb10 { padding-top: 10px; padding-bottom: 10px!important;}
.ptpb15 { padding-top: 15px; padding-bottom: 15px!important;}

.plpr5 { padding-left: 5px; padding-right: 5px!important;}
.plpr10 { padding-left: 10px; padding-right: 10px!important;}
.plpr15 { padding-left: 15px; padding-right: 15px!important;}
.plpr20 { padding-left: 20px; padding-right: 20px!important;}
.plpr25 { padding-left: 25px; padding-right: 25px!important;}
.plpr30 { padding-left: 30px; padding-right: 30px!important;}

/* em */
.p01em { padding: 0.1em!important;}
.p02em { padding: 0.2em!important;}
.p03em { padding: 0.3em!important;}
.p04em { padding: 0.4em!important;}
.p05em { padding: 0.5em!important;}
.p10em { padding: 1.0em!important;}
.p12em { padding: 1.2em!important;}
.p14em { padding: 1.4em!important;}
.p16em { padding: 1.6em!important;}
.p18em { padding: 1.8em!important;}
.p20em { padding: 2.0em!important;}

.pt01em { padding-top: 0.1em!important;}
.pt02em { padding-top: 0.2em!important;}
.pt03em { padding-top: 0.3em!important;}
.pt04em { padding-top: 0.4em!important;}
.pt10em { padding-top: 1.0em!important;}
.pt12em { padding-top: 1.2em!important;}
.pt14em { padding-top: 1.4em!important;}
.pt16em { padding-top: 1.6em!important;}
.pt18em { padding-top: 1.8em!important;}
.pt20em { padding-top: 2.0em!important;}

.pr01em { padding-right: 0.1em!important;}
.pr02em { padding-right: 0.2em!important;}
.pr03em { padding-right: 0.3em!important;}
.pr04em { padding-right: 0.4em!important;}
.pr05em { padding-right: 0.5em!important;}
.pr10em { padding-right: 1.0em!important;}
.pr12em { padding-right: 1.2em!important;}
.pr14em { padding-right: 1.4em!important;}
.pr16em { padding-right: 1.6em!important;}
.pr18em { padding-right: 1.8em!important;}
.pr20em { padding-right: 2.0em!important;}

.pb01em { padding-bottom: 0.1em!important;}
.pb02em { padding-bottom: 0.2em!important;}
.pb03em { padding-bottom: 0.3em!important;}
.pb04em { padding-bottom: 0.4em!important;}
.pb05em { padding-bottom: 0.5em!important;}
.pb10em { padding-bottom: 1.0em!important;}
.pb12em { padding-bottom: 1.2em!important;}
.pb14em { padding-bottom: 1.4em!important;}
.pb16em { padding-bottom: 1.6em!important;}
.pb18em { padding-bottom: 1.8em!important;}
.pb20em { padding-bottom: 2.0em!important;}

.pl01em { padding-left: 0.1em!important;}
.pl02em { padding-left: 0.2em!important;}
.pl03em { padding-left: 0.3em!important;}
.pl04em { padding-left: 0.4em!important;}
.pl05em { padding-left: 0.5em!important;}
.pl10em { padding-left: 1.0em!important;}
.pl12em { padding-left: 1.2em!important;}
.pl14em { padding-left: 1.4em!important;}
.pl16em { padding-left: 1.6em!important;}
.pl18em { padding-left: 1.8em!important;}
.pl20em { padding-left: 2.0em!important;}

.ptpb01em { padding-top: 0.1em; padding-bottom: 0.1em!important;}
.ptpb02em { padding-top: 0.2em; padding-bottom: 0.2em!important;}
.ptpb03em { padding-top: 0.3em; padding-bottom: 0.3em!important;}
.ptpb04em { padding-top: 0.4em; padding-bottom: 0.4em!important;}
.ptpb05em { padding-top: 0.5em; padding-bottom: 0.5em!important;}
.ptpb10em { padding-top: 1.0em; padding-bottom: 1.0em!important;}
.ptpb12em { padding-top: 1.2em; padding-bottom: 1.2em!important;}
.ptpb14em { padding-top: 1.4em; padding-bottom: 1.4em!important;}
.ptpb16em { padding-top: 1.6em; padding-bottom: 1.6em!important;}
.ptpb18em { padding-top: 1.8em; padding-bottom: 1.8em!important;}
.ptpb20em { padding-top: 2.0em; padding-bottom: 2.0em!important;}

.plpr01em { padding-left: 0.1em; padding-right: 0.1em!important;}
.plpr02em { padding-left: 0.2em; padding-right: 0.2em!important;}
.plpr03em { padding-left: 0.3em; padding-right: 0.3em!important;}
.plpr04em { padding-left: 0.4em; padding-right: 0.4em!important;}
.plpr05em { padding-left: 0.5em; padding-right: 0.5em!important;}
.plpr10em { padding-left: 1.0em; padding-right: 1.0em!important;}
.plpr12em { padding-left: 1.2em; padding-right: 1.2em!important;}
.plpr14em { padding-left: 1.4em; padding-right: 1.4em!important;}
.plpr16em { padding-left: 1.6em; padding-right: 1.6em!important;}
.plpr18em { padding-left: 1.8em; padding-right: 1.8em!important;}
.plpr20em { padding-left: 2.0em; padding-right: 2.0em!important;}

/* rem */
.p01rem { padding: 0.1rem!important;}
.p02rem { padding: 0.2rem!important;}
.p03rem { padding: 0.3rem!important;}
.p04rem { padding: 0.4rem!important;}
.p05rem { padding: 0.5rem!important;}
.p10rem { padding: 1.0rem!important;}
.p12rem { padding: 1.2rem!important;}
.p14rem { padding: 1.4rem!important;}
.p16rem { padding: 1.6rem!important;}
.p18rem { padding: 1.8rem!important;}
.p20rem { padding: 2.0rem!important;}

.pt01rem { padding-top: 0.1rem!important;}
.pt02rem { padding-top: 0.2rem!important;}
.pt03rem { padding-top: 0.3rem!important;}
.pt04rem { padding-top: 0.4rem!important;}
.pt10rem { padding-top: 1.0rem!important;}
.pt12rem { padding-top: 1.2rem!important;}
.pt14rem { padding-top: 1.4rem!important;}
.pt16rem { padding-top: 1.6rem!important;}
.pt18rem { padding-top: 1.8rem!important;}
.pt20rem { padding-top: 2.0rem!important;}

.pr01rem { padding-right: 0.1rem!important;}
.pr02rem { padding-right: 0.2rem!important;}
.pr03rem { padding-right: 0.3rem!important;}
.pr04rem { padding-right: 0.4rem!important;}
.pr05rem { padding-right: 0.5rem!important;}
.pr10rem { padding-right: 1.0rem!important;}
.pr12rem { padding-right: 1.2rem!important;}
.pr14rem { padding-right: 1.4rem!important;}
.pr16rem { padding-right: 1.6rem!important;}
.pr18rem { padding-right: 1.8rem!important;}
.pr20rem { padding-right: 2.0rem!important;}

.pb01rem { padding-bottom: 0.1rem!important;}
.pb02rem { padding-bottom: 0.2rem!important;}
.pb03rem { padding-bottom: 0.3rem!important;}
.pb04rem { padding-bottom: 0.4rem!important;}
.pb05rem { padding-bottom: 0.5rem!important;}
.pb10rem { padding-bottom: 1.0rem!important;}
.pb12rem { padding-bottom: 1.2rem!important;}
.pb14rem { padding-bottom: 1.4rem!important;}
.pb16rem { padding-bottom: 1.6rem!important;}
.pb18rem { padding-bottom: 1.8rem!important;}
.pb20rem { padding-bottom: 2.0rem!important;}

.pl01rem { padding-left: 0.1rem!important;}
.pl02rem { padding-left: 0.2rem!important;}
.pl03rem { padding-left: 0.3rem!important;}
.pl04rem { padding-left: 0.4rem!important;}
.pl05rem { padding-left: 0.5rem!important;}
.pl10rem { padding-left: 1.0rem!important;}
.pl12rem { padding-left: 1.2rem!important;}
.pl14rem { padding-left: 1.4rem!important;}
.pl16rem { padding-left: 1.6rem!important;}
.pl18rem { padding-left: 1.8rem!important;}
.pl20rem { padding-left: 2.0rem!important;}

.ptpb01rem { padding-top: 0.1rem; padding-bottom: 0.1rem!important;}
.ptpb02rem { padding-top: 0.2rem; padding-bottom: 0.2rem!important;}
.ptpb03rem { padding-top: 0.3rem; padding-bottom: 0.3rem!important;}
.ptpb04rem { padding-top: 0.4rem; padding-bottom: 0.4rem!important;}
.ptpb05rem { padding-top: 0.5rem; padding-bottom: 0.5rem!important;}
.ptpb10rem { padding-top: 1.0rem; padding-bottom: 1.0rem!important;}
.ptpb12rem { padding-top: 1.2rem; padding-bottom: 1.2rem!important;}
.ptpb14rem { padding-top: 1.4rem; padding-bottom: 1.4rem!important;}
.ptpb16rem { padding-top: 1.6rem; padding-bottom: 1.6rem!important;}
.ptpb18rem { padding-top: 1.8rem; padding-bottom: 1.8rem!important;}
.ptpb20rem { padding-top: 2.0rem; padding-bottom: 2.0rem!important;}

.plpr01rem { padding-left: 0.1rem; padding-right: 0.1rem!important;}
.plpr02rem { padding-left: 0.2rem; padding-right: 0.2rem!important;}
.plpr03rem { padding-left: 0.3rem; padding-right: 0.3rem!important;}
.plpr04rem { padding-left: 0.4rem; padding-right: 0.4rem!important;}
.plpr05rem { padding-left: 0.5rem; padding-right: 0.5rem!important;}
.plpr10rem { padding-left: 1.0rem; padding-right: 1.0rem!important;}
.plpr12rem { padding-left: 1.2rem; padding-right: 1.2rem!important;}
.plpr14rem { padding-left: 1.4rem; padding-right: 1.4rem!important;}
.plpr16rem { padding-left: 1.6rem; padding-right: 1.6rem!important;}
.plpr18rem { padding-left: 1.8rem; padding-right: 1.8rem!important;}
.plpr20rem { padding-left: 2.0rem; padding-right: 2.0rem!important;}


/* float
----------------------------------------------- */
.fl { float: left;}
.fr { float:right;}

/* clearfix
----------------------------------------------- */
.cf:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
	font-size: 0.1em;
}
.cf {
  min-height: 1px;
}
 * html .cf {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
.cb { clear: both;}

/* font-position
----------------------------------------------- */
.tac { text-align: center!important;}
.tar { text-align: right!important;}
.tal { text-align: left !important;}

.vat { vertical-align: top!important;}
.vam { vertical-align: middle!important;}
.vab { vertical-align: bottom!important;}

/* font-size
----------------------------------------------- */
.fs09 { font-size: 0.9rem!important;}
.fs10 { font-size: 10rem!important;}
.fs11 { font-size: 1.1rem!important;}
.fs12 { font-size: 1.2rem!important;}
.fs13 { font-size: 1.3rem!important;}
.fs14 { font-size: 1.4rem!important;}
.fs15 { font-size: 1.5rem!important;}
.fs16 { font-size: 1.6rem!important;}
.fs17 { font-size: 1.7rem!important;}
.fs18 { font-size: 1.8rem!important;}
.fs19 { font-size: 1.9rem!important;}
.fs20 { font-size: 2.0rem!important;}
.fs21 { font-size: 2.1rem!important;}
.fs22 { font-size: 2.2rem!important;}
.fs23 { font-size: 2.3rem!important;}
.fs24 { font-size: 2.4rem!important;}
.fs25 { font-size: 2.5rem!important;}

/* em */
.fs01em { font-size: 0.1em!important;}
.fs02em { font-size: 0.2em!important;}
.fs03em { font-size: 0.3em!important;}
.fs04em { font-size: 0.4em!important;}
.fs05em { font-size: 0.5em!important;}
.fs06em { font-size: 0.6em!important;}
.fs07em { font-size: 0.7em!important;}
.fs08em { font-size: 0.8em!important;}
.fs09em { font-size: 0.9em!important;}
.fs10em { font-size: 1.0em!important;}
.fs11em { font-size: 1.1em!important;}
.fs12em { font-size: 1.2em!important;}
.fs13em { font-size: 1.3em!important;}
.fs14em { font-size: 1.4em!important;}
.fs15em { font-size: 1.5em!important;}
.fs16em { font-size: 1.6em!important;}
.fs18em { font-size: 1.8em!important;}
.fs20em { font-size: 2.0em!important;}

/* font-familly
----------------------------------------------- */
.fsEng{
	font-family: 'Quicksand', sans-serif!important;
}

/* font-color
----------------------------------------------- */
.fcWhite { color: #FFFFFF!important;}
.fcBlack { color: #000!important;}
.fcRed { color: #f00!important;}
.fcOrange { color: #f60!important;}
.fcYellow { color: #fc0!important;}
.fcGreen { color: #360!important;}
.fcYgreen { color: #f90!important;}
.fcBlue { color: #03f!important;}
.fcLblue { color: #0cc!important;}
.fcPink { color: #f09!important;}
.fcPurple { color: #c0c!important;}


/* font-weight
----------------------------------------------- */
.fb { font-weight: bold !important;}

/* line-height
----------------------------------------------- */
.lh0p5 { line-height: 0.5em!important;}
.lh1p0 { line-height: 1.0em!important;}
.lh1p2 { line-height: 1.2em!important;}
.lh1p4 { line-height: 1.4em!important;}
.lh1p6 { line-height: 1.6em!important;}
.lh1p8 { line-height: 1.8em!important;}
.lh2p0 { line-height: 2.0em!important;}


/* background
------------------------------------------------ */
.bgNone { background-image: none!important;}
.bg01 { background: #FFFFFF!important;}
.bgGray01 { background: #dedede!important;}

/* border
------------------------------------------------ */
.bdr01 {
	border: solid 1px #dedede!important;}
.bdrT01 {
	border-top: solid 1px #dedede!important;}
.bdR01 {
	border-right: solid 1px #dedede!important;}
.bdrB01 {
	border-bottom: solid 1px #dedede!important;}
.bdrL01 {
	border-left: solid 1px #dedede!important;}
.bdrBDotted {
	border-bottom: dotted 1px #dedede!important;}


/*===BORDER EMBOSS================*/
.bdrEMB {
	border: 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
	margin: 20px 0;
}
@media screen and (max-width: 767px) {
.bdrEMB {
	border: 0;
	border-top: 1px solid #f4f1ea;
	border-bottom: 1px solid #fff;
	margin: 10px 0;
	margin-left: -14px;
	margin-right: -14px;
}
}

/* others
------------------------------------------------ */
a {
	text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;

}

a:hover {
	text-decoration: underline;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;

}
.op img,
.op input {
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
.op:hover,
.op:hover img,
.op:hover input {
	opacity: .7;
	-webkit-opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity=70);	/* IE lt 8 */
	-ms-filter: "alpha(opacity=70)"; /* IE 8 */
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
.visible-pc {
	display: block;
}
.visible-ts {
	display: none;
}
.telsp a {
	cursor: default;
}

@media screen and (max-width: 767px) {
.visible-ts {
	display: block;
}
.visible-pc {
	display: none;
}
}
.flex-center-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-center-between{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-center-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.flex-center-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

